<!DOCTYPE html>
<html>
<head>
    <title>Danh sách người dùng</title>
</head>
<body>
    <h1>Danh sách người dùng</h1>
    <a href="/admin/logout">Đăng xuất</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Họ và tên</th>
            <th>Email</th>
            <th>Mã đăng nhập</th>
            <th>Hành động</th>
        </tr>
        {{range .}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Name}}</td>
            <td>{{.Email}}</td>
            <td>{{.password}}</td>
            <td>
                <a href="/admin/user/edit?id={{.ID}}">Sửa</a>
                <a href="/admin/user/delete?id={{.ID}}" onclick="return confirm('Xóa?')">Xóa</a>
            </td>
        </tr>
        {{end}}
    </table>
    <a href="/admin/user/add">Thêm người dùng</a>
</body>
</html>