{{define "base"}}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <!-- Biến .Title sẽ được truyền từ mã Go vào đây -->
    <title>{{.Title}}</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="/static/js/theme.js"></script>
</head>
<body>
    <header>
        <nav>
            <a href="/">Trang chủ</a> |
            <a href="/giaovien">Giáo viên</a> |
            <a href="/lophoc">Lớp học</a> |
            <a href="/monhoc">Môn học</a> |
            <a href="/phancong">Phân phối</a> |
            <a href="/thongtin">Giới thiệu</a> | 
            <a href="/lienhe">Liên hệ</a>
        </nav>
    </header>

    <main>
        <!-- Đây là "lỗ hổng". Nội dung của file con sẽ chèn vào đây -->
        {{template "content" .}}
    </main>

    <footer>
        <p>&copy; 2026 Bản quyền thuộc về Lương Lâm Kiên</p>
    </footer>
</body>
</html>
{{end}}
