{{define "content"}}
<script src="/static/tableview.js"></script>
<script src="/static/modalview.js"></script>
<div id = "app">
  <table-view 
     :title="title"
     :subtitle="subTitle"
     :labels="labels"
     :datas="datas"
     :show-action="showAction"
     @add-item="handleAddItems"
     @update-item="handleUpdateItems"
     @delete-item="handleDeleteItems"
    ></table-view>
  <modal-view
      ref="form"
      :labels="labels"
      @save-data="handleSaveData"
    ></modal-view>
</div>
<script>
  const {ref, onMounted, reactive} = Vue
  const app = Vue.createApp({
    components: { TableView, ModalView },
    setup() {
      // Khai báo các thông số cần thiết cho table-view
      const title = ref('Danh sách giáo viên')
      const subTitle = ref('Danh sách giáo viên')
      const labels = ref([
        {label: 'Mã giáo viên', key: 'ma'},
        {label: 'Tên giáo viên', key: 'hoTen'},
        {label: 'Tên trên TKB', key: 'tenTKB'},
        {label: 'Giảng dạy các môn', key: 'monDay'},
        {label: 'Giảng dạy các lớp', key: 'lopDay'},
      ])
      const datas = ref([])
      const showAction = ref(true)
      const isEdit = ref(false)
      const handleAddItems = () => {
        form.value.openAddModal('Thêm mới dữ liệu')
        isEdit.value = false
      }
      const handleUpdateItems = (editData) => {
        form.value.openEditModal(editData, 'Sửa dữ liệu')
        isEdit.value = true
      }
      const handleDeleteItems = async (index) => {
        const response = await fetch('/api/giaovien/'+datas.value[index].ma, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json',
          },
        })
        if (response.ok) {
          datas.value.splice(index, 1)
        } else {
          footer.value='Lỗi xóa dữ liệu'
        } 
      }
      // Khai báo các thông số cần thiết cho modal-view
      const form = ref(null)
      const handleSaveData = async (data,callback) => {
        if (!data.ma||!data.ten||!data.tenTKB) {
          if (callback) callback({success:false, message:'Mã giáo viên, tên giáo viên, không tồn tại'});
          return
        }
        const newData = {
          ma: data.ma,
          ten: data.hoTen,
          gvcn: data.tenTKB,
          monDay: data.monDay,
          lopDay: data.lopDay,
        }
        try {
          const response = await fetch('/api/giaovien', {
            method: isEdit.value ? 'PUT' : 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(newData),
          })
          if (response.ok) {
            if (callback) callback({success:true, message: isEdit.value ? 'Cập nhật thành công' : 'Thêm thành công'})
            fetchData()
          } else {
            if (callback) callback({success:false, message: 'Không thể kết nối tới server'})
          }
        } catch (error) {
          if (callback) callback({success:false, message: error.message})
        }
        isEdit.value = false
        form.value.closeModal()
        fetchData()
      }
      const fetchData = async () => {
        try {
          const response = await fetch('/api/giaovien')
          if (response.ok) {
            const data = await response.json()
            datas.value = data
          } else {
            alert('Không thể kết nối tới server')
          }
        } catch (error) {
          alert('Không thể kết nối tới server', error)
        }
      }
      onMounted(() => {
        fetchData()
      })
      return {
        form,
        title,
        subTitle,
        labels,
        datas,
        showAction,
        handleAddItems,
        handleUpdateItems,
        handleDeleteItems,
        handleSaveData,
      }
    }
  })
  app.mount('#app')
</script>
{{end}}
