{{define "content"}}
<div id = "app">
  <table-view 
     :title="title"
     :items-label="itemsLabel"
     :items-data="itemsData"
     :show-action="showAction"
     @update-item="handleUpdateItems"
     @delete-item="handleDeleteItems"
    ></table-view>
</div>
<script src="/static/js/tableview.js"></script>
<script>
  const app = Vue.createApp({
    delimiters: ['[[', ']]'],
    data() {
      return {
        title: 'Danh sách lớp học',
        itemsLabel: [
          {label: 'Name', key: 'name'},
          {label: 'Age', key: 'age'},
          {label: 'Address', key: 'address'},
        ],
        itemsData: [
          {name: 'John', age: 20, address: 'New York'},
          {name: 'Joe', age: 30, address: 'Paris'},
          {name: 'Jane', age: 25, address: 'London'},
        ],
        showAction: true,
      }
    },
    methods: {
      handleUpdateItems(items) {
        console.log(items)
      },
      handleDeleteItems(items) {
        console.log(items)
      },
    },
  })
  app.component('table-view', TableView)
  app.mount('#app')
</script>
{{end}}
